<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GGJWEvent</title>
    <!--favicon-->
    <link rel="icon" href="~/assets/images/logo.png" type="image/x-icon" />
    <!-- Vector CSS -->
    <link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />
    <!-- skins CSS-->
    <link href="~/assets/css/skins.css" rel="stylesheet" />
    <!-- skins CSS-->
    <link href="~/assets/css/skins.css" rel="stylesheet" />
    <link href="~/assets/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.1/css/jquery.dataTables.css" />

    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Teko:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,500i,700,700i|Teko&display=swap" rel="stylesheet">
    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/Js/jquery.min.js"></script>
    <script src="~/Js/jquery.timeago.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="~/Js/ng-tags-input.js"></script>
    <script src="~/Js/angular-filter.js"></script>
    <script src="~/Js/angular-touch.min.js"></script>
    <script src="~/Js/angular-cookies1_4_0.js"></script>
    <script src="~/Js/angular-ipcookies.js"></script>
    <script src="~/Js/angular-local-storage.js"></script>
    <script src="~/Js/msc-script.js"></script>
    <script src="~/Js/angular-drag-and-drop-lists.js"></script>
    <script src="~/Js/paging.js"></script>
    <script src="~/Js/angular-drag-and-drop-lists.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js"></script>
    <script src="~/assets/angular.min.js"></script>
    <script src="~/assets/angular-datatables.min.js"></script>
    <script src="~/assets/jquery.dataTables.min.js"></script>
    <link href="~/assets/datatables.bootstrap.css" rel="stylesheet" />
    <script src="~/Js/GGJWEvemt/GGJWEvemt.js"></script>
    <script src="~/Js/GGJWEvemt/Services/AccountService.js"></script>
    <script src="~/Js/GGJWEvemt/Controllers/Home.js"></script>
    <script src="~/Js/GGJWEvemt/Directive.js"></script>
    <script src="~/Js/GGJWEvemt/Filter.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="~/assets/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/assets/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $(".knob").knob();
        });
    </script>
    <!-- Index js -->

</head>
<body ng-app="GGJWEventModule">
    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader">
                </div>
            </div>
        </div>
    </div>
    <!-- end loader -->
    <!-- Start wrapper-->
    <div id="wrapper" >
        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo bg-theme bg-theme1">
                <a href="index-2.html">
                    <h5 class="logo-text" style="color:white;"><b>GGJWEvent</b></h5>
                </a>
            </div>
            <div class="user-details" ng-controller="HomeController">
                <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
                    <div class="avatar">
                        <img class="mr-3 side-user-img" src="~/assets/images/avatars/avatar-13.png" alt="user avatar">
                    </div>
                    <div class="media-body">
                        <h6 class="side-user-name">{{LoginUser.Name}}</h6>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu" ng-controller="HomeController">
                <li class="sidebar-header">MAIN NAVIGATION</li>
                <li>
                    <a href="Dashboard" class="waves-effect">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="fa fa-users"></i><span>Exhibitor</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="Exhibitor"><i class="zmdi zmdi-dot-circle-alt"></i>Exhibitor</a></li>
                        <li><a href="ExhibitorOffer"><i class="zmdi zmdi-dot-circle-alt"></i>ExhibitorOffer</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="fa fa-tag fa-lg"></i><span>AssignCoupon</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="AssignCoupon"><i class="zmdi zmdi-dot-circle-alt"></i>AssignCoupon</a></li>
                        <li><a href="RequestAndAssign"><i class="zmdi zmdi-dot-circle-alt"></i>RequestCouponList</a></li>

                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="fa fa-trophy"></i><span>Draw</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="Draw"><i class="zmdi zmdi-dot-circle-alt"></i>Add New Draw</a></li>
                        <li><a href="MegaDraw"><i class="zmdi zmdi-dot-circle-alt"></i>Add New MegaDraw</a></li>
                        <li><a href="DrawList"><i class="zmdi zmdi-dot-circle-alt"></i>Draw List</a></li>
                        <li><a href="DailyDraw"><i class="zmdi zmdi-dot-circle-alt"></i>Open Daily Draw </a></li>
                        <li><a href="MegaDraws"><i class="zmdi zmdi-dot-circle-alt"></i>Open Mega Draw </a></li>
                        <li><a href="DrawWinner"><i class="zmdi zmdi-dot-circle-alt"></i>Draw Winners List</a></li>
                        <li><a href="MegaDrawWinnerList"><i class="zmdi zmdi-dot-circle-alt"></i>MegaDraw Winners List</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="fa fa-file"></i><span>Report</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="HistoryCoupon"><i class="zmdi zmdi-dot-circle-alt"></i>HistoryCoupon</a></li>
                        <li><a href="CustomerList"><i class="zmdi zmdi-dot-circle-alt"></i>CustomerList</a></li>
                        <li><a href="ExhibitorList"><i class="zmdi zmdi-dot-circle-alt"></i>ExhibitorList</a></li>
                        <li><a href="ApplyCouponList"><i class="zmdi zmdi-dot-circle-alt"></i>AssignCouponList</a></li>
                        <li><a href="CustomerCouponHistory"><i class="zmdi zmdi-dot-circle-alt"></i>CustomerCouponHistory</a></li>
                    </ul>
                </li>
                <li>
                    <a href="CustomerCouponDetail" class="waves-effect">
                        <i class="fa fa-tag"></i><span>CustomerCouponDetail</span>
                    </a>
                </li>
                <li>
                    <a href="SendNotification" class="waves-effect">
                        <i class="fa fa-envelope"></i><span>Send Notification</span>
                    </a>
                </li>
                <li class="sidebar-header">EXTRA TOOLS</li>
                <li><a href="javaScript:void();" ng-click="logOutUser()" class="waves-effect"><i class="zmdi zmdi-sign-in text-danger"></i><span>Logout</span></a></li>
            </ul>

        </div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <header class="topbar-nav" ng-controller="HomeController">
            <nav id="header-setting" class="navbar navbar-expand fixed-top color-header bg-theme1">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="Search ">
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">

                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile">
                                <img src="~/assets/images/avatars/avatar-13.png" class="img-circle" alt="user avatar">
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar">
                                            <img class="align-self-start mr-3" src="~/assets/images/avatars/avatar-13.png" alt="user avatar">
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">{{LoginUser.Name}}</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-settings mr-2"></i>Setting</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item" ng-click="logOutUser()"><i class="icon-power mr-2"></i>Logout</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->
        <div class="clearfix"></div>

        <div class="content-wrapper">
            @RenderBody()
            
            <div class="overlay toggle-menu"></div>
        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        <!--End Back To Top Button-->
        <!--Start footer-->

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- simplebar js -->
    <script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>
    <script src="~/assets/plugins/switchery/js/switchery.min.js"></script>
    <script src="~/assets/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
    <!-- Chart js -->
    <script src="~/assets/plugins/Chart.js/Chart.min.js"></script>
    <!-- Vector map JavaScript -->
    <script src="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Easy Pie Chart JS -->
    <script src="~/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <!-- Sparkline JS -->
    <script src="~/assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
    <script src="~/assets/plugins/jquery-knob/excanvas.js"></script>
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>
    <!-- Index js -->

</body>
</html>