
@{
    ViewBag.Title = "DrawWinner";
}

<script src="~/Js/GGJWEvemt/Services/HomeService.js"></script>
<script src="~/Js/GGJWEvemt/Controllers/WinnerList.js"></script>
<div class="container-fluid" ng-controller="DrawWinnerListController">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title">Winner List</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">GGJWEvent</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Masters</a></li>
                <li class="breadcrumb-item active" aria-current="page">Winner List</li>
            </ol>
        </div>
    </div>
    <!-- End Breadcrumb-->
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <div class="row mx-auto">
                <div class="col-4">
                    <form>
                        <div class="form-group">
                            <select class="form-control" ng-model="SendDrawId" ng-change="GetDrawWinnerList()">
                                <option value="">~Select Draw~</option>
                                <option ng-repeat="sel in DrawList" ng-selected="drawId == sel.Id" value="{{sel.Id}}">{{sel.DrawName}}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="card-title" style="font-size:20px;">Winner List</h4>
                                </div>
                            </div>
                            <div class="table-responsive ">
                                <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SrNo</th>
                                            <th>CouponNo</th>
                                            <th>DrawName</th>
                                            <th>PersonName</th>
                                            <th>Date</th>
                                            <th>Winner Position</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in DrawWinnerList">
                                            <td>{{$index+1}}</td>
                                            <td>{{data.CouponNo}}</td>
                                            <td>{{data.DrawName}}</td>
                                            <td>{{data.PersonName}}</td>
                                            <td>{{data.Date}}</td>
                                            <td>{{data.NumberOfResult}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
