
@{
    ViewBag.Title = "Exhibitor";
}
<script src="~/Js/GGJWEvemt/Services/HomeService.js"></script>
<script src="~/Js/GGJWEvemt/Controllers/Exhibitor.js"></script>

<div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">Exhibitors</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Exhibitor</li>
            </ol>
        </div>
    </div>
    <!-- End Breadcrumb-->
    <div ng-controller="ExhibitorController">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h6 class="card-title">DATA</h6>
                                    </div>
                                    <div class="col-md-3" align="right">
                                        <button class="btn btn-dark btn-sm btn-block m-1" data-toggle="modal" data-target="#largesizemodal" ng-click="AddExhibitor()"><i class="fa fa-plus"></i> Add Exhibitor</button><br />
                                    </div>
                                </div>
                                <div class="table-responsive ">
                                    <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>SrNo</th>
                                                <th>Image</th>
                                                <th>PersonName</th>
                                                <th>CompanyName</th>
                                                <th>MobileNo</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in ExhibitorList">
                                                <td>{{$index+1}}</td>
                                                <td><img src="{{data.Image}}" width="100px" /></td>
                                                <td>{{data.PersonName}}</td>
                                                <td>{{data.CompanyName}}</td>
                                                <td>{{data.MobileNo}}</td>
                                                <td>{{data.Email}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-info btn-sm " ng-click="ExhibitorDetails(data)" data-toggle="modal" data-target="#modal"><i class="fa fa-list-ol"></i></button>
                                                    <button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#largesizemodal" ng-click="Edit(data)"><i class="fa fa-pencil-square-o"></i></button>
                                                    <button type="button" class="btn btn-danger btn-sm " ng-click="DeleteExhibitor(data.Id)"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="modal fade" id="modal">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Exhibitor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4 class="card-title" style="font-size:20px;">DATA</h4>
                                        </div>
                                    </div>
                                    <div class="table-responsive ">
                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Designation</th>
                                                    <th>TelephoneNo</th>
                                                    <th>Country</th>
                                                    <th>State</th>
                                                    <th>City</th>
                                                    <th>Address</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="e in ExhibitorDetailsList">
                                                    <td>{{e.Designation}}</td>
                                                    <td>{{e.TelephoneNo}}</td>
                                                    <td>{{e.Country}}</td>
                                                    <td>{{e.StateName}}</td>
                                                    <td>{{e.CityName}}</td>
                                                    <td>{{e.Address}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="modal fade" id="largesizemodal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Exhibitor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <form ng-submit="SaveExhibitor()">
                                        <h4 class="form-header text-uppercase">Exhibitor</h4>
                                        <div class="row">

                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>PersonName</label>
                                                <input type="text" class="form-control" required="" autocomplete="off" ng-model="PersonName">

                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Designation</label>
                                                <input type="text" class="form-control" autocomplete="off" ng-model="Designation">

                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Company Name</label>
                                                <input type="text" class="form-control" required="" autocomplete="off" ng-model="CompanyName">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>MobileNo</label>
                                                <input type="text" class="form-control" required="" maxlength="10" autocomplete="off" ng-model="MobileNo">

                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>TelephoneNo</label>
                                                <input type="text" class="form-control" autocomplete="off" ng-model="TelephoneNo">

                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Email</label>
                                                <input type="text" class="form-control" required="" autocomplete="off" ng-model="Email">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>First Address</label>
                                                <textarea rows="2" cols="20" name="basic" ng-model="Address" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Second Address</label>
                                                <textarea rows="2" cols="20" name="basic" ng-model="Address1" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Third Address</label>
                                                <textarea rows="2" cols="20" name="basic" ng-model="Address2" class="form-control"></textarea>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Lat-Long of First Address</label>
                                                <input type="text" class="form-control" required="" autocomplete="off" ng-model="LatLong">
                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Second Address</label>
                                                <input type="text" class="form-control" autocomplete="off" ng-model="LatLong2">
                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Third Address</label>
                                                <input type="text" class="form-control" autocomplete="off" ng-model="LatLong3">
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Country</label>
                                                <input type="text" class="form-control" required="" autocomplete="off" ng-model="Country">
                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>State</label>
                                                <div>
                                                    <select class="form-control" ng-model="stateselectbox" ng-change="GetCities()" required>
                                                        <option value="" selected>~Select~</option>
                                                        <option ng-repeat="sel in StateList" ng-selected="stateselectbox == sel.Id" value="{{sel.Id}}">{{sel.Title}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>City</label>
                                                <div>
                                                    <select class="form-control" ng-model="cityselectbox" required>
                                                        <option value="" selected>~Select~</option>
                                                        <option ng-repeat="sel in CitiesList" ng-selected="cityselectbox == sel.Id" value="{{sel.Id}}">{{sel.Title}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label>Image</label>
                                                <file name="image" ng-model="myFile" accept="image/png,image/jpg,image/jpeg" />
                                            </div>

                                        </div>



                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i>Submit</button>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal" ng-click="Clearall()"><i class="fa fa-times"></i> Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

