
@{
    ViewBag.Title = "SendNotification";
}

<script src="~/Js/GGJWEvemt/Services/HomeService.js"></script>
<script src="~/Js/GGJWEvemt/Controllers/SendNotification.js"></script>
<div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title">SendNotification</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">GGJWEvent</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Masters</a></li>
                <li class="breadcrumb-item active" aria-current="page">SendNotification</li>
            </ol>

        </div>
    </div>

    <!-- End Breadcrumb-->
    <div class="row" ng-controller="SendNotificationController">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form ng-submit="SendNotification()">
                                <h4 class="form-header text-uppercase">SendNotification</h4>
                                <div class="form-group">
                                    <label for="validationCustom01"></label>
                                    <div>
                                        <select class="form-control ng-pristine ng-valid ng-touched" ng-change="GetDataList()" ng-model="Type">
                                            <option value="" selected="selected"> Select</option>
                                            <option value="Exhibitor" class=""> Exhibitor</option>
                                            <option value="Visitor" class=""> Visitor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">Title</label>
                                    <input type="text" class="form-control" id="Title" required="" autocomplete="off" ng-model="Title">
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">Message</label>
                                        <textarea type="text" class="form-control" id="Message" required="" autocomplete="off" ng-model="Message">
                                        </textarea>
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-danger">Clear</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4><b>DATA</b></h4>
                            <div class="table-responsive ">
                                <table datatable="ng" dt-options="vm.dtOptions" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" ng-click="toggleSelect()"></th>
                                            <th>SrNo</th>
                                            <th>Name</th>
                                            <th>MobileNO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in DataList">
                                            <td><input type="checkbox" id="checkbox_{{data.Id}}" ng-model="data.selected" ng-change="optionToggled()">
                                            </td>
                                            <td>{{$index+1}}</td>
                                            <td>{{data.Name}}</td>
                                            <td>{{data.ContactNo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

